# Environment
.env
allin_env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE/Editor specific
.vscode/
.idea/

# Build artifacts
dist/
build/
*.egg-info/

# Logs
*.log
logs/

# OS specific
.DS_Store
Thumbs.db
